<main class="d-flex flex-column w-75 mx-auto">
<div class="post-card p-0">
    <div class="post-card-header w-100 mx-0 py-1">
            <h3 class="post-title ms-md-4"> {{post.title}} </h3>
            <h5 class="post-author me-md-4">Posted by {{user.name}} on {{format_date post.date_created}}</h5>
    </div>
        <p class="post-content m-4">
            {{post.content}}
        </p>
    <div class="post-card-footer w-100 mx-0 py-1">
        {{!-- If logged in user = Current Post's user_id, display delete button --}}
       
        {{#if postOwner}}
            <button id="deletePostBtn" class="btn btn-danger me-md-4">Delete Post</button>
            <button id="editPostBtn" class="btn btn-primary  me-md-4">Edit Post</button>
        {{/if}}
    </div>
</div>
    {{!-- If the user is logged in, display a comment form --}}
    {{#if logged_in}}
        <form id="commentForm" class="comment-form d-flex flex-column align-items-center justify-content-center w-100 mx-auto">
            <textarea class="comment-input w-75 mx-auto" id="commentInput" cols="30" rows="2" placeholder="Enter your comment here..."></textarea>
            <button id="submitCommentBtn" type="submit" class="btn btn-primary submit-comment-btn mt-2">Submit Comment</button>
        </form>
    {{/if}}
    {{!-- If a post has comments, display the comments in a new box below the post-card --}}
    {{#if post.comments.length}}
        <section class="comments w-50 mx-auto">
            <h4 class="post-comments-header text-center p-2">Comments</h4>
            <div class="container">
            {{#each post.comments as |comment|}}
                <div class="post-comment d-flex align-items-center justify-space-between mx-auto mb-3 w-100 py-3">
                    <h5 class="comment-content me-md-4 my-auto">{{comment.content}}</h5>
                    <h5 class="comment-author ms-md-4 my-auto pe-2">Posted by {{comment.user_id}} on {{format_date comment.date_created}}</h5>
                    {{!-- If logged in user = Current Comment's user_id, display delete button --}}
                    {{#if commentOwner}}
                        <button id="deleteCommentBtn" class="btn btn-danger me-md-4">Delete Comment</button>
                    {{/if}}
                </div>
            {{/each}}
            </div>
        </section>
    {{/if}}

</main>
<script src="/js/deletePost.js"></script>
<script src="/js/comment.js"></script>
